/*BARRA SUPERIOR(PESQUISA)*/

.topnav {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
  }
  
  .topnav .botao {
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-align: center;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: inline-block;
  }
  
  .topnav .botao:hover {
    background-color: white;
    color: black;
  }
  
  
body { font-family: Arial; padding: 10px; background: white;}

/*END*/

.header { padding: 30px; text-align: center; background: white;}

.header h1  { font-size: 50px;}


.fakeimg { background-color: white; width: 100%; padding: 20px;}

.card { background-color: white; padding: 20px; margin-top: 20px;}

/*FOOTER*/

.footer { padding: 20px; text-align: center; background: black; margin-top: 20px; color: white; width: 100%;}

@media screen and (max-widtch:400px){
    .topnav a{ float: none; width: 100%;}
}

p{text-align: justify;}

.img{ float: right;}